	@font-face {
		font-family: 'hiraminpro-w6';
		src: url(../fonts/hiraminpro-w6.otf);
	}

	.sp-b,
	.sp-480 {
		display: none;
	}

	.sp-b_table {
		display: none;
	}

	.pickup {
		display: none;
	}

	.btn_span {
		display: none;
	}

	.totop1 {
		display: none;
	}

	.tn {
		display: none;
	}

	#index #header01 {
		z-index: 1;
	}

	.page-top {
		display: none;
	}

	@media screen and (max-width: 768px) {
		*{
			max-width: 100%;
		}
		html {
			min-width: 100%;
		}

		body {
			min-width: 100%;
			-webkit-text-size-adjust: none;
			/* background: none; */
		}

		img {
			max-width: 100%;
			height: auto;
		}

		div,
		p,
		ul,
		li,
		section,
		dd,
		dt,
		dl,
		span,
		ol,
		h1,
		h2,
		h3,
		h4,
		h5,
		table,
		tr,
		td,
		a,
		#fmail input.fmail,
		.mailform textarea {
			box-sizing: border-box;
		}

		.sp-b {
			display: block;
		}

		.pc-b {
			display: none !important;
		}

		/*begin menu*/
		.pos-fixed {
			height: 100%;
			overflow: hidden;
			width: 100%;
			position: fixed;
		}

		.ac_Menu {
			float: right;
			padding: 0;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			margin-top: 0;
			margin-bottom: 0;
			/* margin-right: 10px; */
			position: fixed;
			right: 10px;
			z-index: 100000;
			top: 24px;
		}

		#index .w638px {
			width: 100% !important;
		}

		.menu-trigger,
		.menu-trigger span {
			display: inline-block;
			transition: all .4s;
			box-sizing: border-box;
		}

		.menu-trigger {
			position: relative;
			width: 46px;
			height: 46px;
			background: #dc9c2b;
			border-radius: 2px;
			margin-right: 0;
			/* border: 2px solid #5FAF1D; */
		}

		.menu-trigger span {
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
			width: 30px;
			height: 4px;
			background-color: #fff;
			color: #fff;
			border-radius: 4px;
		}

		.menu-trigger span:nth-of-type(1) {
			top: 5px;
		}

		.menu-trigger span:nth-of-type(2) {
			top: 13px;
		}

		.menu-trigger span:nth-of-type(3) {
			top: 21px;
		}

		.menu-trigger.active span:nth-of-type(1) {
			-webkit-transform: translateY(10px) rotate(-45deg);
			transform: translateY(10px) rotate(-45deg);
			top: 3px;
		}

		.menu-trigger.active span:nth-of-type(2) {
			opacity: 0;
		}

		.menu-trigger.active span:nth-of-type(3) {
			-webkit-transform: translateY(-15px) rotate(45deg);
			transform: translateY(-15px) rotate(45deg);
			top: 28px;
		}

		.menu-trigger span:nth-of-type(4) {
			top: 26px;
			background: none;
			text-align: center;
			font-size: 10px;
			font-weight: 700;
			position: absolute;
			height: auto;
			width: 32px;
			line-height: 18px;
		}

		#acbox {
			position: absolute;
			width: 100%;
			left: 0;
			display: none;
			top: 73px;
			height: calc(100vh - 90px);
			z-index: 9999999999;
		}

		#acbox ul {
			background: #dc9c2b;
			padding: 0;
			overflow: auto;
			max-height: 100%;
			height: calc(100vh - 100px);
			padding-bottom: 66px;
			/*-webkit-overflow-scrolling: touch;*/
			width: 100%;
			text-align: left;
			margin: 0;
		}

		#acbox li {
			color: #fff;
			width: 50%;
			float: left;
			height: 67px;
			border-bottom: 1px dotted #fff;
			display: table;
			font-size: 13px;
		}
		
		.list_text02.list_text05 {
			margin-left: 0;
			width: 100%;
		}

		#acbox li a.bdr-n2 {
			border-right: 1px dotted #fff;
		}
		#acbox li:nth-child(8) {
			width: 100%;
		}
		
		#acbox li a {
			color: #fff;
			text-decoration: none;
			display: table-cell;
			vertical-align: middle;
			position: relative;
			padding: 0 10px 0 25px;
			line-height: 22px;
		}

		#acbox li a::before,
		#acbox li a::after {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 10px;
			margin: auto;
			content: "";
			vertical-align: middle;
		}

		#acbox li a::before {
			left: 10px;
			box-sizing: border-box;
			width: 4px;
			height: 4px;
			border-top: 1px solid #fff;
			border-right: 1px solid #fff;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}

		#acbox .acr_text,
		#acbox .back_sp {
			font-weight: 700;
			width: 100% !important;
			border-top: 1px dotted #fff;
			border-bottom: 1px solid #fff;
			clear: both;
			text-align: center;
			padding-top: 15px;
		}

		#acbox .acr_text {
			border-top: none;
			height: 40px;
		}

		#acbox li.sp_bdr {
			border-right: 1px dotted #fff;
		}

		#acbox li.sp_bdr_n {
			border-right: none;
		}

		#acbox li.sp_bdb_n {
			border-bottom: none;
		}

		/*end menu*/

		#gnavi {
			display: none !important;
		}

		.top_txt {
			display: none;
		}

		.sweetlink {
			display: none;
		}

		.head_top {
			padding-top: 0;
		}

		.logo {
			margin: 0;
			max-width: 200px;
			padding-left: 2px;
		}

		#header {
			height: 76px;
			width: 100%;
			top: 0;
			position: fixed;
			z-index: 999;
			background: #fff;
		}

		#main {
			width: 100%;
		}

		.top_inn01 .in01 {
			display: none !important;
		}

		.top_inn01 .in02 {
			margin-top: 250px !important;
			width: 100% !important;
			display: flex !important;
			justify-content: center;
		}

		.index_banner {
			flex-direction: column;
		}

		.top_sec03 {
			width: 100% !important;
		}

		#top_sec04 {
			width: 100% !important;
		}

		.top_in04 {
			padding: 50px 0 0 15px !important;
		}

		.gmap_wrap01 {
			display: none !important;
		}

		.foot_ico {
			display: none !important;
		}

		#footer .inner .inn01 {
			display: flex !important;
			flex-direction: column;
			align-items: center;
		}

		#footer .inner .in02 {
			margin-top: 20px;
			margin-left: 0px !important;
		}

		#footer .inner .in03 {
			padding: 53px 0;
		}

		/* fixfooter */

		#fixfooter {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 999;
			height: 65px;
			background: rgba(255, 255, 255, 0.8);
			display: none;
		}

		#fixfooter ul {
			display: block;
			width: 300px;
			margin: 10px auto;
			overflow: hidden;
		}

		#fixfooter li {
			float: left;
			text-align: center;
			width: 145px;
		}

		#fixfooter li:first-child {
			margin-right: 10px;
		}

		#fixfooter li a {
			display: table-cell;
			vertical-align: middle;
			color: #fff;
			text-decoration: none;
		}

		/* end fixfooter */
		#wrap {
			background: url(../images/top_bg01.png) no-repeat center !important;
		}
		#wrapper{
			margin-bottom: 65px !important;
		}

		.footlogo {
			margin-bottom: 10px !important;
		}

		/* #content .box .inner {
			margin-left: 15px;
		} */
		#content p{
			font-size: 13px;
		}
		.top_h2{
			margin: 0 !important;
		}
		.box .inner{
			width: 100% !important;
		}
		/* .top_sec02{
			display: flex !important;
		} */
		.top_sec02 .top_btn02{
			display: flex;
		}
		.top_sec02 .top_btn02 li{
			/* margin: 0 0 10px 10px; */
		}

		.top_sec02 .common_btn li:last-child{
			float: left !important;
		}
		.box .inner .top_sec03{
			background-size: contain;
		}
		.box .inner .top_sec02 ul{
			display: flex;
			flex-wrap: wrap;
		}
		.box .inner .top_sec02 ul li{
			width: 50%;
		}
		.top_btn02 li {
			margin-left: 0px !important;
			text-align: center;
			margin-bottom: 10px;
		}

		/* ---feature--- */
		.box .inner h2{
			margin-top: 76px;
			background-size: cover;
			padding-top: 50px !important;
		}
		
		.pan_list{
			display: none;
		}
		#main #content{
			margin-top: 40px;
			width: 100%;
		}
		#content .feature_wrap01 h4{
			height: auto;
		}
		#content .feature_wrap02 h4{
			height: auto;
		}
		#content .feature_menu02{
			padding-bottom: 25px !important;
		}
		#content .feature_menu02 .fr{
			float: left !important;
		}
		#content .feature_menu02 .w320{
			width: 100% !important;
		}
	}