	@font-face {
		font-family: 'hiraminpro-w6';
		src: url(../fonts/hiraminpro-w6.otf);
	}

	.sp-b,
	.sp-480 {
		display: none;
	}

	.sp-b_table {
		display: none;
	}

	.pickup {
		display: none;
	}

	.btn_span {
		display: none;
	}

	.totop1 {
		display: none;
	}

	.tn {
		display: none;
	}

	#index #header01 {
		z-index: 1;
	}

	.page-top {
		display: none;
	}
	#totop a{
		display: none;
	}
	

	@media screen and (max-width: 768px) {
		* {
			max-width: 100%;
		}

		html {
			min-width: 100%;
		}

		body {
			min-width: 100%;
			-webkit-text-size-adjust: none;
			/* background: none; */
		}

		img {
			max-width: 100%;
			height: auto;
		}

		div,
		p,
		ul,
		li,
		section,
		dd,
		dt,
		dl,
		span,
		ol,
		h1,
		h2,
		h3,
		h4,
		h5,
		table,
		tr,
		td,
		a,
		#fmail input.fmail,
		.mailform textarea {
			box-sizing: border-box;
		}

		.sp-b {
			display: block;
		}

		.pc-b {
			display: none !important;
		}

		/*begin menu*/
		.pos-fixed {
			height: 100%;
			overflow: hidden;
			width: 100%;
			position: fixed;
		}

		.ac_Menu {
			float: right;
			padding: 0;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			margin-top: 0;
			margin-bottom: 0;
			/* margin-right: 10px; */
			position: fixed;
			right: 10px;
			z-index: 100000;
			/* top: 24px; */
		}

		#index .w638px {
			width: 100% !important;
		}

		.menu-trigger,
		.menu-trigger span {
			display: inline-block;
			transition: all .4s;
			box-sizing: border-box;
		}

		.menu-trigger {
			position: relative;
			width: 46px;
			height: 46px;
			background: #dc9c2b;
			border-radius: 2px;
			margin-right: 0;
			/* border: 2px solid #5FAF1D; */
		}

		.menu-trigger span {
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
			width: 30px;
			height: 4px;
			background-color: #fff;
			color: #fff;
			border-radius: 4px;
		}

		.menu-trigger span:nth-of-type(1) {
			top: 5px;
		}

		.menu-trigger span:nth-of-type(2) {
			top: 13px;
		}

		.menu-trigger span:nth-of-type(3) {
			top: 21px;
		}

		.menu-trigger.active span:nth-of-type(1) {
			-webkit-transform: translateY(10px) rotate(-45deg);
			transform: translateY(10px) rotate(-45deg);
			top: 3px;
		}

		.menu-trigger.active span:nth-of-type(2) {
			opacity: 0;
		}

		.menu-trigger.active span:nth-of-type(3) {
			-webkit-transform: translateY(-15px) rotate(45deg);
			transform: translateY(-15px) rotate(45deg);
			top: 28px;
		}

		.menu-trigger span:nth-of-type(4) {
			top: 26px;
			background: none;
			text-align: center;
			font-size: 10px;
			font-weight: 700;
			position: absolute;
			height: auto;
			width: 32px;
			line-height: 18px;
		}

		#acbox {
			position: absolute;
			width: 100%;
			left: 0;
			display: none;
			top: 60px;
			height: calc(100vh - 90px);
			z-index: 9999999999;
		}

		#acbox ul {
			background: #dc9c2b;
			padding: 0;
			overflow: auto;
			max-height: 100%;
			height: calc(100vh - 100px);
			padding-bottom: 66px;
			/*-webkit-overflow-scrolling: touch;*/
			width: 100%;
			text-align: left;
			margin: 0;
		}

		#acbox li {
			color: #fff;
			width: 50%;
			float: left;
			height: 67px;
			border-bottom: 1px dotted #fff;
			display: table;
			font-size: 13px;
		}

		.list_text02.list_text05 {
			margin-left: 0;
			width: 100%;
		}

		#acbox li a.bdr-n2 {
			border-right: 1px dotted #fff;
		}

		#acbox li:nth-child(8) {
			width: 100%;
		}

		#acbox li a {
			color: #fff;
			text-decoration: none;
			display: table-cell;
			vertical-align: middle;
			position: relative;
			padding: 0 10px 0 25px;
			line-height: 22px;
		}

		#acbox li a::before,
		#acbox li a::after {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 10px;
			margin: auto;
			content: "";
			vertical-align: middle;
		}

		#acbox li a::before {
			left: 10px;
			box-sizing: border-box;
			width: 4px;
			height: 4px;
			border-top: 1px solid #fff;
			border-right: 1px solid #fff;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}

		#acbox .acr_text,
		#acbox .back_sp {
			font-weight: 700;
			width: 100% !important;
			border-top: 1px dotted #fff;
			border-bottom: 1px solid #fff;
			clear: both;
			text-align: center;
			padding-top: 15px;
		}

		#acbox .acr_text {
			border-top: none;
			height: 40px;
		}

		#acbox li.sp_bdr {
			border-right: 1px dotted #fff;
		}

		#acbox li.sp_bdr_n {
			border-right: none;
		}

		#acbox li.sp_bdb_n {
			border-bottom: none;
		}

		/*end menu*/

		#gnavi {
			display: none !important;
		}

		.top_txt {
			display: none;
		}

		.sweetlink {
			display: none;
		}

		.head_top {
			padding-top: 0;
		}

		.logo {
			margin: 0;
			max-width: 200px;
			padding-left: 2px;
		}

		#header {
			/* height: 76px; */
			width: 100%;
			top: 0;
			position: fixed;
			z-index: 999;
			background: #fff;
			border-bottom: 2px solid #729700;
		}

		#main {
			width: 100% !important;
		}

		.top_inn01 .in01 {
			display: none !important;
		}

		.top_inn01 .in02 {
			margin-top: 250px !important;
			width: 100% !important;
			display: flex !important;
			justify-content: center;
		}
		.top_inn01 .in02 .common_btn {
			display: none !important;
		}

		.index_banner {
			flex-direction: column;
		}

		.top_sec03 {
			width: 100% !important;
		}

		#top_sec04 {
			background: url(../images/top_bg02_mobi.png) no-repeat left center !important;
			width: 100% !important;
			background-position: 
		}

		.top_in04 {
			padding: 50px 0 0 0 !important;
		}

		.gmap_wrap01 {
			width: 100% !important;
   			height: auto !important; 
			margin-top: 15px;
		}
		
		#wrapper {
			margin-bottom: 65px !important;
		}
		.top_sec03{
			display: none !important;
		}

		#footer .inner .inn01 {
			display: flex !important;
			flex-direction: column;
			align-items: center;
			padding: 10px;
			height: auto !important;
		}

		#footer .inner .in02 {
			width: 100% !important;
			margin-top: 20px;
			margin-left: 0px !important;
		}

		#footer .inner .in03 {
			width: 100% !important;
			color: #fff;
			font-size: 12px;
			background-color: #729700;
		}
		/* #footer .inner .in03 p{
			padding-bottom: 50px;
		} */
		#footer{
			height: auto !important;
			/* padding: 10px; */
			/* padding-top: 10px;*/
			background: none !important;
			border-top: 1px solid #729700 !important; 
		}
		.pagetop{
			display: none;
		}

		/*fix footer*/
		#fixfooter {
			position: fixed;
			bottom: 0;
			left: 5px;
			width: calc(100% - 10px);
			z-index: 9;
			height: 60px;
			background: #D9EAF4;
			display:none;
			width: 100%;
			left: 0;
		}

		#fixfooter ul {
			display: block;
			width: 100%;
			margin: 6px auto;
			/* margin-left: 1px; */
			overflow: hidden;
			height: 48px;
			list-style: none;
			max-width: 410px;
			padding: 0 10px;
		}

		#fixfooter li {
			float: left;
			text-align: center;
			width: calc(50% - 5px);
			list-style: none;
			margin: 0 auto;
			height: 48px;
			padding: 0 5px;
			background: #308BC0;
			color: #fff;
		}
		#fixfooter li {
			border: 1px solid #fff;
			position: relative;
		}
		#fixfooter li:first-child {
			background: #dc9c2b;
			margin-right: 5px;
		}
		#fixfooter li:first-child a {
			padding-left: calc(50% - 35px);
		}
		#fixfooter li:first-child a:after {
			background: url(../images/mail_sp2.png) 5px center no-repeat;
			width: 30px;
			height: 25px;
			content: "";
			z-index: 1;
			top: 9px;
			left: calc(50% - 68px);
			position: absolute;
		}
		#fixfooter li:last-child {
			background: #dc9c2b;
			margin-left: 5px;
			/* display: none; */
		}
		#fixfooter li:last-child a {
			padding-left: calc(50% - 42px);
			background-size: 25px;
			color: #fff;
			text-decoration: none;
		}
		#fixfooter li:last-child a:after {
			background: url(../images/telicon.png) 5px center no-repeat;
			background-size: 16px;
			width: 22px;
			height: 24px;
			content: "";
			z-index: 1;
			top: 11px;
			margin-left: 15px;
			left: calc(50% - 74px);
			position: absolute;

		}
		#fixfooter li a {
			display: block;
			vertical-align: middle;
			color: #fff;
			text-decoration: none;
			/* width: 100%; */
			/* padding: 2px; */
			height: 46px;
			overflow: hidden;
			box-sizing: border-box;
			display: flex;
			align-items: center;
			justify-content: center;
			/* background: #FFE800; */
			font-size: 14px;
			font-weight: bold;
			/* border: 1px solid #333; */
		}
		#fixfooter img{
			height: 100%;
			width: 100%;
			max-width: 164px;
		}
		span.hd_ancho {
			height: 100px;
			display: block;
			margin-top: -100px;
		}
		/*end fix footer*/
		/* #wrap {
			background: url(../images/bg-top.jpg) no-repeat !important;
    		background-size: contain !important;
    		position: relative;
    		margin-top: -354px !important;
  			height: auto;
		} */

		.footlogo {
			margin-bottom: 10px !important;
		}

		/* #content .box .inner {
			margin-left: 15px;
		} */
		
		.top_h2 {
			margin: 0 !important;
		}

		.box .inner {
			width: 100% !important;
		}

		/* .top_sec02{
			display: flex !important;
		} */
		.top_sec02 .top_btn02 {
			display: flex;
		}

		.top_sec02 .top_btn02 li {
			/* margin: 0 0 10px 10px; */
		}

		.top_sec02 .common_btn li:last-child {
			float: left !important;
		}

		.box .inner .top_sec03 {
			background-size: contain;
		}

		.box .inner .top_sec02 ul {
			display: flex;
			flex-wrap: wrap;
		}

		.box .inner .top_sec02 ul li {
			width: 50%;
		}

		.top_btn02 li {
			margin-left: 0px !important;
			text-align: center;
			margin-bottom: 10px;
		}

		/* ---feature--- */
		.box .inner h2 {
			margin-top: 60px;
			background-size: cover;
			padding-top: 50px !important;
			font-size: 140% !important;
		}

		.pan_list {
			display: none;
		}

		#main #content {
			margin-top: 20px;
			width: 100%;
		}

		#content .feature_wrap01 h4 {
			height: auto;
			padding: 20px 0 10px 110px;
		}

		#content .feature_wrap02 h4 {
			height: auto;
			/* margin-left: 15px; */
		}

		/* #content > p{
			margin: 0 15px;
		} */
		/* #content h3{
			margin-left: 15px;
			margin-right: 15px;
		} */
		#content .feature_menu02 {
			padding-bottom: 25px !important;
		}

		/* #content .feature_menu02 .fr{
			float: left !important;
		}
		#content .feature_menu02 .w320{
			width: 100% !important;
		} */

		/* #content .feature_menu01{
			background-position: top center;
		}
		#content .feature_menu02{
			background-position: bottom center;
		} */


		/* -- clinic -- */
		.doc_wrap01 {
			/* margin: 0 15px; */
			background-size: contain !important;
		}

		#content>h3 {
			font-size: 120% !important;
		}

		.clinic_wrap01 {
			display: flex !important;
			justify-content: center;
		}

		.clinic_wrap01 dt {
			font-size: 100% !important;
			padding: 10px 0 0 0 !important;
		}

		#content {
			padding: 0 15px;
		}

		/* #content > p{
			text-align: center;
		} */
		#navi {
			display: none;
		}

		#content p {
			width: 100%;
			font-size: 14px;
		}

		#mid {
			background: none;
		}

		.img_left img {
			margin: 0 auto;
		}

		.w320 {
			width: 100% !important;
		}

		.w340 {
			width: 100% !important;
		}

		.w360 {
			width: 100% !important;
		}

		.w510 {
			width: 100% !important;
		}

		.com_wrap02 {
			width: 100% !important;
			background-size: cover;
			padding: 10px;
			padding-top: 25px;
			background: none;
		}

		.faq_wrap01 dt {
			width: 100% !important;
			height: auto !important;
			padding: 10px !important;
			padding-left: 70px !important;
			font-size: 110% !important;
			background-size: cover !important;
		}

		.faq_wrap01 dl {
			width: 100% !important;
			background-size: cover !important;
		}

		.img_right img {
			margin: 0 auto;
		}

		.merit_wrap01 {
			width: 100% !important;
			background-image: none !important;
			background-color: #e2e2e2 !important;
		}
		.merit_wrap01 dl{
			width: 100% !important;
			margin-left: 0 !important
		}
		.merit_wrap01 dt{
			padding: 10px !important;
			height: auto !important;
		}

		#content .com_tit01 {
			width: 100%;
			height: auto;
			background: #e89112;
			padding: 10px;
			text-align: center;
		}
		.summary {
			display: none;
		}
		#toTop{
			border: none;
			bottom: 82px;
			cursor: pointer;
			height: 50px;
			margin: 0;
			right: 6px;
			overflow: hidden;
			position: fixed;
			text-decoration: none;
			width: 50px !important;
			z-index: 100;
		}
		#top_sec04 .inner{
			background: none !important;
		}
		
		.step_wrap02{
			width: 100% !important;
			padding: 15px 15px 45px !important;
			background-size: cover !important;
			display: flex !important;
  			flex-wrap: wrap;
		}
		.step_wrap01 .step_bg{
			width: 100% !important;
			height: auto !important;
		}
		.step_wrap03{
			width: 100% !important;
			padding: 15px !important;
			background-size: cover !important;
			display: flex !important;
  			flex-wrap: wrap;
		}
		.step_wrap01{
			background: none !important;
			border-top: 1px solid #b6d762;
			padding-top: 0 !important;
		}
		.perio_img01{
			position: inherit;
		}
	}