	
@font-face {
	font-family: 'hiraminpro-w6';
	src: url(../fonts/hiraminpro-w6.otf);
}
.sp-b, .sp-480 {
	display: none;
}
.sp-b_table{
	display: none;
}
.pickup{
	display: none;
}
.btn_span{
	display: none;
}
/* .totop1{
	display: none;
} */
.tn{
	display: none;
}
#index #header01{
	z-index: 1;
}
.page-top{
	display: none;
}

@media screen and (max-width: 768px){
	html{
		min-width: 100%;
	}
	body{
		min-width: 100%;
		-webkit-text-size-adjust: none;
		background: none;
	}
	img{
		max-width: 100%;
		height: auto;
	}
	div, p, ul, li,section, dd, dt, dl, span, ol, h1,h2,h3,h4,h5, table, tr, td, a, #fmail input.fmail,.mailform textarea{
		box-sizing: border-box;
	}
	.sp-b {
		display: block;
	}
	.pc-b{
		display: none !important;
	}
	/*begin menu*/
	.pos-fixed{
		height: 100%;
		overflow: hidden;
		width: 100%;
		position: fixed;
	}
	.ac_Menu {
		float: right;
		padding: 0;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		margin-top: 0;
		margin-bottom: 0;
		/* margin-right: 10px; */
		right: 10px;
		top: 35px;
	}
	#index .w638px{
		width: 100% !important;
	}
	.menu-trigger,
	.menu-trigger span {
		display: inline-block;
		transition: all .4s;
		box-sizing: border-box;
	}

	.menu-trigger {
		position: relative;
		width: 46px;
		height: 46px;
		background: #004ea2;
		border-radius: 2px;
		margin-right: 0;
		/* border: 2px solid #5FAF1D; */
	}

	.menu-trigger span {
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		width: 30px;
		height: 4px;
		background-color: #fff;
		color: #fff;
		border-radius: 4px;
	}

	.menu-trigger span:nth-of-type(1) {
		top: 5px;
	}

	.menu-trigger span:nth-of-type(2) {
		top: 13px;
	}

	.menu-trigger span:nth-of-type(3) {
		top: 21px;
	}

	.menu-trigger.active span:nth-of-type(1) {
		-webkit-transform: translateY(10px) rotate(-45deg);
		transform: translateY(10px) rotate(-45deg);
		top: 3px;
	}

	.menu-trigger.active span:nth-of-type(2) {
		opacity: 0;
	}
	.menu-trigger.active span:nth-of-type(3) {
		-webkit-transform: translateY(-15px) rotate(45deg);
		transform: translateY(-15px) rotate(45deg);
		top: 28px;
	}

	.menu-trigger span:nth-of-type(4) {
		top: 26px;
		background: none;
		text-align: center;
		font-size: 10px;
		font-weight: 700;
		position: absolute;
		height: auto;
		width: 32px;
		line-height: 18px;
	}
	#acbox {
		position: absolute;
		z-index: 900;
		width: 100%;
		left: 0;
		display: none;
		top: 90px;
		height: calc(100vh - 90px);
	}

	#acbox ul {
		background: #004ea2;
		padding: 0;
		overflow: auto;
		max-height: 100%;
		height: calc(100vh - 90px);
		padding-bottom: 70px;
		/*-webkit-overflow-scrolling: touch;*/
		width: 100%;
		margin: 0;
	}

	#acbox li {
		color: #fff;
		width: 50%;
		float: left;
		height: 67px;
		border-bottom: 1px dotted #fff;
		display: table;
		font-size: 13px;
	}
	.list_text02.list_text05{
		margin-left: 0;
		width: 100%;
	}
	#acbox li:nth-child(18) {
		width: 100%;
	}
	#acbox li:nth-child(18) a {
		border-right: 0 !important;
		
	}
	#acbox li:nth-child(4) {
		width: 100%;
	}
	#acbox li:nth-child(4) a {
		border-right: 0 !important;
		
	}
	#acbox li:nth-child(6) {
		width: 100%;
	}
	#acbox li:nth-child(6) a {
		border-right: 0 !important;
		
    }
    
    #acbox li a.bdr-n2 {
        border-right: 1px dotted #fff;
    }
    #acbox li a {
        color: #fff;
        text-decoration: none;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        padding: 0 10px 0 25px;
        line-height: 22px;
    }

    #acbox li a::before,
    #acbox li a::after{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 10px;
        margin: auto;
        content: "";
        vertical-align: middle;
    }

    #acbox li a::before {
        left: 10px;
        box-sizing: border-box;
        width: 4px;
        height: 4px;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #acbox .acr_text,
    #acbox .back_sp {
        font-weight: 700;
        width: 100% !important;
        border-top: 1px dotted #fff;
        border-bottom: 1px solid #fff;
        clear: both;
        text-align: center;
        padding-top: 15px;
    }

    #acbox .acr_text {
        border-top: none;
        height: 40px;
    }

    #acbox li.sp_bdr {
        border-right: 1px dotted #fff;
    }

    #acbox li.sp_bdr_n {
        border-right: none;
    }

    #acbox li.sp_bdb_n {
        border-bottom: none;
    }
    /*end menu*/

    /*reponsive*/
    #gnavi{
        display: none !important;
    }
    .top_txt{
        display: none;
    }
    .sweetlink{
        display: none;
    }
    .head_top{
        padding-top: 0;
    }
    #header h1{
        width: 100%;
        padding: 3px 5px;
        height: 30px;
        text-align: left;
        margin-bottom: 0;
        font-size: 10px;
        line-height: 12px;
    }
    .logo{
        margin: 0;
        max-width: 200px;
        padding-left: 2px;
    }
  
    #main{
        width: 100%;
        margin-top: 50px;
    }
	.top_inn01 .in01 {
		display: none;
	}
	.top_inn01 .in02 {
	}
	.index_banner{
		flex-direction: column;
	}
	.top_sec02 .top_btn02 li{
		width: 100%;
		text-align: center;
		margin: 10px auto;
	}
	
	.top_inn01{
		margin: 0 !important;
		margin-top: 110px !important;
	}
	.top_in04{
		padding: 10px 0 0 20px;
	}
	.in02 .gmap_wrap01{
		display: none;
	}
	.in02 .foot_ico{
		display: none;
	}
	/*------fixfooter------*/
	#fixfooter {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 999;
		height: 65px;
		background: rgba(255,255,255,0.8);
	  	display:none;
	  }
  
	  #fixfooter ul {
		display: block;
		width: 300px;
		margin: 10px auto;
		overflow: hidden;
	  }
  
	  #fixfooter li {
	  float: left;
	  text-align: center;
	  width: 145px;
	  }
  
	  #fixfooter li:first-child {
		  margin-right: 10px;
	  }
  
	  #fixfooter li a {
		  display: table-cell;
		  vertical-align: middle;
		  color: #fff;
		  text-decoration: none;
	  }
	  .inner .inn01 .in01{
		text-align: center !important;
	  }
	 .in03{
		 margin-bottom: 65px !important;
	 }
}